:root {
    /* 窗口的颜色 */
    --billadm-color-major-background: #ffffff;
    --billadm-color-minor-background: #f5f5f5;
    --billadm-color-window-border: #e0e0e0;

    /* 按钮的颜色 */
    --billadm-color-icon-hover-bg: #e4e4e4;

    /* 界面尺寸 */
    --billadm-ui-size-menu-width: 40px;

    /* 文本 */
    --billadm-color-text-major: #333;
    --billadm-color-text-minor: #7b7b7b;
    --billadm-size-text-large: 18px;
    --billadm-size-text-title: 16px;
    --billadm-size-text-base: 14px;
    --billadm-size-text-small: 13px;

    /* 颜色 */
    --billadm-color-positive: #1677ff;
    --billadm-color-negative: #f5222d;

    /* 尺寸 */
    --billadm-size-header-height: 40px;
    --billadm-size-sider-width: 48px;
}